<main>
  <section class="container pt-5">
    <div class="row">
      <h2 class="col-8 text-purple mb-4">Registro de cita</h2>
      <div class="col-4">
        <button type="button" class="btn btn-sm btn-outline-info float-right" (click)=goBack()><i
            class="fas fa-arrow-left"></i> Regresar</button>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="assets/caduceus.png" class="card-img bg-info" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Nueva cita</h5>
            <div class="">
              <form [formGroup]="form" (ngSubmit)="pushDate()" class="needs-validation" role="form">
                <fieldset>
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                            <label for="nombre">Nombre:</label>
                          </div>
                          <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                            <input formControlName="name" type="text" class="form-control" id="name"
                              [ngClass]="{ 'is-invalid':!form.get('name').valid && !init[2], 'is-valid':form.get('name').valid} "
                              (input)="getDetection(2)">
                            <div *ngIf="form.controls['name'].errors?.required && !init[2]" class="invalid-feedback">Campo obligatorio.
                            </div>
                            <div *ngIf="form.controls['name'].errors?.pattern" class="invalid-feedback">Únicamente letras y espacios.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                            <label for="age">Edad:</label>
                          </div>
                          <div class="col-12 col-sm-12 col-md-9 col-lg-9">
                            <input formControlName="age" type="text" class="form-control" id="age"
                              [ngClass]="{ 'is-invalid':!form.get('age').valid && !init[3], 'is-valid':form.get('age').valid }"
                              (input)="getDetection(3)">
                            <div *ngIf="form.controls['age'].errors?.required && !init[3]" class="invalid-feedback">Campo obligatorio.
                            </div>
                            <div *ngIf="form.controls['age'].errors?.pattern" class="invalid-feedback">Únicamente dígitos.</div>
                            <div *ngIf="form.controls['age'].errors?.min" class="invalid-feedback">Rango 1 - 90 años.</div>
                            <div *ngIf="form.controls['age'].errors?.max" class="invalid-feedback">Rango 1 - 90 años.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col lg-6">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                            <label for="Calfe">Fecha:</label>
                          </div>
                          <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                            <input min="{{ currentDate }}" formControlName="date" type="date" class="form-control" id="date" [ngClass]="{ 'is-invalid': !form.get('date').valid && !init[0], 'is-valid': form.get('date').valid }" (input)="getDetection(0)">
                            <div *ngIf="form.controls['date'].errors?.required && !init[0]" class="invalid-feedback">Campo obligatorio.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col lg-6">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                            <label for="time">Hora:</label>
                          </div>
                          <div class="col-12 col-sm-12 col-md-9 col-lg-9">
                            <select formControlName="time" name="" id="time" class="form-control"
                              [ngClass]="{ 'is-invalid':!form.get('time').valid && !init[1], 'is-valid':form.get('time').valid }" (input)="getDetection(1)">
                              <option value="17:00">17:00</option>
                              <option value="18:00">18:00</option>
                              <option value="19:00">19:00</option>
                            </select>
                            <div *ngIf="form.controls['time'].errors?.required && !init[1]" class="invalid-feedback">Campo obligatorio.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-12 col-sm-12 col-md-4 col-lg-2">
                            <label for="sint">Sintomas:</label>
                          </div>
                          <div class="col-12 col-sm-12 col-md-8 col-lg-10">
                            <textarea formControlName="symptoms" type="text" class="form-control" id="sint" [ngClass]="{ 'is-invalid':!form.get('symptoms').valid && !init[4], 'is-valid':form.get('symptoms').valid}" (input)="getDetection(4)"></textarea>
                            <div *ngIf="form.controls['symptoms'].errors?.required && !init[4]" class="invalid-feedback">Campo obligatorio.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-purple" [disabled]="form.invalid" data-toggle="modal" data-target="#exampleModal">Registrar</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div #modal class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">{{ title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <p>{{ message }}</p>
            <div *ngIf="pass">
              <p><b>Nombre</b>: {{ dateService.currentDate.name | upper }}</p>
              <p><b>Fecha</b>: {{ dateService.currentDate.date | date:'full' }}</p>
              <p><b>Hora</b>: {{ dateService.currentDate.time }}</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-purple" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
   
  </section>
</main>