<footer class="pt-5 mt-5">
  <div class="bg-dark py-5 text-white">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="row float-left">
            <img src="assets/logo.svg" height="50" width="55" class="d-inline-block col-6 col-md-12" alt="Float-Eye"
              data-toggle="tooltip" data-placement="right" title="Clínica Float-Eye">
            <img src="assets/uaa.svg" height="60" width="65" class="d-inline-block col-6 col-md-12" alt="UAA"
              data-toggle="tooltip" data-placement="right" title="Universidad Autónoma de Aguascalientes">
          </div>
        </div>
        <div class="offset-md-1 col-12 col-md-2 my-2">
          <p><strong>Ir a</strong></p>
          <a routerLink="/"><small>Inicio</small></a><br>
          <a routerLink="/register"><small>Registrar</small></a><br>
          <a routerLink="/schedule"><small>Agenda</small></a><br>
          <a routerLink="/faq"><small>FAQ</small></a><br>
        </div>
        <div class="col-12 col-md-3 my-2">
          <p><strong>Información</strong></p>
          <small>Clínica Float-Eye</small><br>
          <small>Oftalmología</small><br>
          <small>Carlos Daniel Molina Vargas</small><br>
          <small>Cédula: 3590852</small>
        </div>
        <div class="col-1 col-md-2 my-2">
          <p><strong>Contácto</strong></p>
          <i class="fas fa-phone mr-2"></i> <small>4499775453</small><br>
          <i class="fab fa-whatsapp mr-2"></i> <small>4492044278</small><br>
          <a href="https://twitter.com/iDanmnv" target="_blank"><i class="fab fa-twitter mr-2"></i> <small>@iDanmnv</small></a><br>
          <a href="https://www.facebook.com/iDanmnv" target="_blank"><i class="fab fa-facebook-f mr-2"></i> <small>Daniel Molina</small></a><br>
          <a href="https://gitlab.com/iDanmnv/Float-Eye" target="_blank"><i class="fab fa-gitlab mr-2"></i> <small>Float Eye</small></a><br>
        </div>
      </div>
      <div class="row bg-white my-4" style="height: 1px;"></div>
      <div class="row">
        <p><i class="far fa-copyright"></i> Float-Eye 2019 Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
