<main>
  <section class="container pt-5">
    <div class="row">
      <h3 class="col-8 text-purple mb-4">Citas generales</h3>
      <div class="col-4">
        <button type="button" class="btn btn-sm btn-outline-info float-right" (click)=goBack()><i class="fas fa-arrow-left"></i> Regresar</button>
      </div>
    </div>
    <div class="my-4" id="dates">
      <div *ngIf="dateService.dates.length != 0; else noDates" class="row">
        <article *ngFor="let date of dateService.dates" class='col-12'>
          <div class='card'>
            <div class='card-body'>
              <div class='row'>
                <div class='col-12 col-md-7 col-lg-5'>
                  <div class='row'>
                    <h5 class='col-9'>{{ date.name | upper}}</h5>
                    <div class='col-3'>
                      <span class='badge badge-pill badge-info'>{{ date.age }} años</span>
                    </div>
                  </div>
                </div>
                <div class='col-12 offset-md-1 col-md-4 offset-lg-1 col-lg-6 text-justify'>
                  <strong>Síntomas:</strong> {{ date.symptoms }}
                </div>
                <footer class='blockquote-footer col-12'>
                  <i class="far fa-clock"></i><em> {{ date.date | date:'longDate' }}. {{ date.time }} hrs</em>
                </footer>
              </div>
            </div>
          </div>
        </article>
      </div>
      <ng-template #noDates >
        <div class='jumbotron col-12 text-center'>
          <h1 class='display-4'>¡Nada por aquí!</h1>
          <p class='lead'>No existen citas agendadas para este día.</p>
          <hr class='my-4'>
          <p>Puedes conocer los servicios ofrecidos en nuestra página de inicio. Agenda una cita para mayor comodidad.</p>
          <a class='btn btn-purple btn-lg' routerLink='/register'>Registrar</a>
        </div>
      </ng-template>
    </div>
  
  </section>
</main>
