<main>
  <section>
    <div id="carouselId" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="getDatesbox">
        <div class="carousel-item active">
          <img src="assets/1.jpg" alt="First slide">
          <div class="carousel-caption d-none d-md-block text-body">
            <h3>Clínica Float-Eye</h3>
            <p>Oftalmología</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/2.jpg">
          <div class="carousel-caption d-none d-md-block text-body">
            <h3>Médico: Carlos Daniel Molina Vargas</h3>
            <p>Cédula: 3590852</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/3.jpg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block text-body">
            <h3>Tu ojo es lo más valioso</h3>
            <p>Acude a nosotros y cuidalo</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  
    <div class="container pt-5">
      <div class="row">
        <div class="col-12 col-lg-4 text-center mt-3">
          <h2 class="text-purple">Comodidad <i class="fas fa-universal-access"></i></h2>
          <p class="text-justify">En clínica Float-Eye tendrás la mejor comodidad que podrás
            experimentar, somos una clínica extremadamente confiable y capacitada. Tenemos una sección
            de las preguntas más frecuentas que la sociedad hace.</p>
          <p><a class="btn btn-purple" routerLink="/faq" role="button">Ir a FAQ »</a></p>
        </div>
        <div class="col-12 col-lg-4 text-center mt-3">
          <h2 class="text-purple">Precios accesibles <i class="fas fa-hand-holding-usd"></i></h2>
          <p class="text-justify">Contamos con los precios más accesibles en todo el mundo, precios que
            no verás en ningún otro lugar, después de tu primer consulta no querrás ir a otra clínica
            debido al equilibro de precio-calidad con el que contamos.</p>
          <p><a class="btn btn-purple" href="#tablePrices" role="button">Ver precios »</a></p>
        </div>
        <div class="col-12 col-lg-4 text-center mt-3">
          <h2 class="text-purple">Cita asegurada <i class="far fa-calendar-check"></i></h2>
          <p class="text-justify">No tienes que visitarnos o llamar a un teléfono para agendar una cita,
            tienes el camino más fácil, agenta tu cita aquí mismo en la sección <em>Registrar</em>.
            ¿Qué esperas? Reservar una cita nunca había sido tan fácil, hazlo por tu salud y comodidad.</p>
          <p><a class="btn btn-purple" routerLink="/register" role="button" >Registrar »</a></p>
        </div>
      </div>
  
      <div class="row pt-5" id="tablePrices">
        <div class="table-responsive pt-4">
          <table class="table table-striped">
            <thead id="header-table">
              <tr>
                <th scope='col'>Servicio</th>
                <th scope='col'>Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Retina Clínica</td>
                <td><strong>$</strong>499 MX</td>
              </tr>
              <tr>
                <td>Retina Quirúrgica</td>
                <td><strong>$</strong>1499 MX</td>
              </tr>
              <tr>
                <td>Oftalmología General</td>
                <td><strong>$</strong>299 MX</td>
              </tr>
              <tr>
                <td>Estudio Refractivo</td>
                <td><strong>$</strong>599 MX</td>
              </tr>
              <tr>
                <td>Topografía Corneal Orbscan IIz</td>
                <td><strong>$</strong>999 MX</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>
