<main>
  <section class="container pt-5">
    <div class="row">
      <h2 class="col-8 text-purple mb-4">FAQ. Preguntas Frecuentes</h2>
      <div class="col-4">
        <button type="button" class="btn btn-sm btn-outline-info float-right" (click)=goBack()><i class="fas fa-arrow-left"></i> Regresar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/yEsgXfqEFxI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="accordion mt-3" id="accordionFAQ">
      <div class="card shadow">
        <div class="card-header bg-info" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
          style="cursor:pointer;">
          <h6 class="mb-0 text-white"><i class="fas fa-question-circle"></i> ¿Cómo funciona el ojo
            humano?</h6>
        </div>
  
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionFAQ">
          <div class="card-body text-justify">
            La función del ojo es percibir y captar las imágenes del exterior, de manera que una vez
            recibidas puedan ser enviadas al cerebro.
            <br><br>
            Para realizar esta función, el ojo dispone de un sistema óptico, compuesto por la córnea y
            el cristalino, que va enfocando la imagen, la cual se recibe en una capa sensible, la
            retina, que es la que finalmente procesa y emite dicha imagen a través del nervio óptico.
            <br><br>
            Se comprende muy bien el funcionamiento del ojo cuando lo comparamos con una cámara
            fotográfica.
          </div>
        </div>
      </div>
      <div class="card shadow">
        <div class="card-header bg-info" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo"
          style="cursor:pointer;">
          <h6 class="mb-0 text-white"><i class="fas fa-question-circle"></i> ¿Los móviles y
            videoconsolas pueden causar algún problema visual en nuestros niños?</h6>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFAQ">
          <div class="card-body text-justify">
            Cuando estamos mucho tiempo delante del ordenador, al final del día podemos notar sensación
            de arenilla en los ojos, ardor, picor, aumento del parpadeo o lo que los oftalmólogos
            llamamos “sensación de cuerpo extraño”. Esto se debe a que parpadeamos menos de lo normal
            por estar con la vista fija en la pantalla y por tanto el ojo se queda seco y molesta.
            ¿Cuántas veces hemos visto a nuestros hijos jugando con la videoconsola, sin parpadear y
            que parece que están totalmente ausentes del mundo? Pues al final del día pueden tener el
            ojo rojo por la sequedad que esto produce.
            <br><br>
            En el caso del libro electrónico se ve más claro, ¿un libro en papel emite luz? No. ¿Un
            libro electrónico emite luz? Sí. Esa luz es como si fuera un calefactor que agrava la
            sequedad.
            <br><br>
            El uso de dispositivos electrónicos por los niños, puede ocasionar un aumento de la
            sensación de ojo seco y el enrojecimiento ocular. Esto no es grave para el ojo pero sí
            causa molestias transitorias.
          </div>
        </div>
      </div>
      <div class="card shadow">
        <div class="card-header bg-info" id="headingThree" data-toggle="collapse" data-target="#collapseThree"
          style="cursor:pointer;">
          <h6 class="mb-0 text-white"><i class="fas fa-question-circle"></i> ¿Aumenta la vista
            cansada o presbicia si no uso las gafas?</h6>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFAQ">
          <div class="card-body text-justify">
            NO. La vista cansada es un proceso asociado a la edad que no cambia con el uso o no de las
            gafas.
            <br><br>
            El único tratamiento que podría retrasar o parar el avance de la presbicia es NO CUMPLIR
            AÑOS. Prefiero no aclarar lo que esto significa pero creo que lo mejor es cumplirlos y
            dejar que la presbicia aumente.
          </div>
        </div>
      </div>
      <div class="card shadow">
        <div class="card-header bg-info" id="headingFour" data-toggle="collapse" data-target="#collapseFour"
          style="cursor:pointer;">
          <h6 class="mb-0 text-white"><i class="fas fa-question-circle"></i> ¿Qué síntomas deben
            tener en cuenta los padres para saber si su bebé (es decir, un niño menor de dos años)
            tiene un defecto visual?</h6>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFAQ">
          <div class="card-body">
            Los niños que presentan un defecto de visión en los dos ojos lo manifiestan porque no miran
            directamente a los ojos, no mantienen la mirada fija, se acercan mucho a las cosas, fallan
            a la hora de coger algo pequeño…
            <br><br>
            El problema aparece cuando el defecto es sólo en un ojo porque el niño ve muy bien por el
            “ojo bueno” y no se queja de nada. Estos niños sólo pueden detectarse en una consulta
            oftalmológica o si los padres le tapan el ojo bueno y el niño llora (no ocurre si se le
            tapa el ojo malo).
            <br><br>
            En otros niños pueden verse manchas blancas dentro del ojo, que el niño aparece en las
            fotos con la cara girada siempre hacia el mismo sitio o nunca sale con los dos ojos rojos
            sino sólo con uno, parece que tuerce los ojos hacia dentro o hacia fuera, presenta un
            vaivén en los ojos o movimientos rápidos…
          </div>
        </div>
      </div>
      <div class="card shadow">
        <div class="card-header bg-info" id="headingFive" data-toggle="collapse" data-target="#collapseFive"
          style="cursor:pointer;">
          <h6 class="mb-0 text-white"><i class="fas fa-question-circle"></i> ¿Por qué es tan
            importante un diagnóstico precoz del glaucoma?</h6>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionFAQ">
          <div class="card-body">
            El principal problema de esta enfermedad radica en que es una patología asintomática hasta
            fases muy evolucionadas, de tal forma que el paciente no es consciente del peligro hasta
            que el glaucoma esta muy avanzado.
            <br><br>
            Sólo en algunos tipos de glaucoma, como el glaucoma pigmentario o el glaucoma de angulo
            cerrado pueden aparecer síntomas tales como dolor o visión borrosa, por ello, y porque la
            incidencia aumenta a partir de los 40 años, seria interesante realizar una revisión a
            partir de esta edad para descartar la enfermedad.
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
