<nav class="navbar navbar-expand-md navbar-dark bg-info">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/logo.svg" height="50" width="50" class="d-inline-block" alt="">
    Float-Eye
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register"><i class="fas fa-book"></i>
          Registrar <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/schedule"><i class="far fa-calendar"></i>
          Agenda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/faq"><i class="fas fa-info-circle"></i> FAQ</a>
      </li>
    </ul>
  </div>
</nav>
