/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

main {
  margin-top: 75px;
}

.text-purple {
  color: #5e35b1;
}

.btn-purple,
.bg-purple {
  background-color: #5e35b1;
  color: whitesmoke;
}

.btn-purple:hover {
  background-color: #7e57c2;
  color: whitesmoke;
}